version: '3.8'
services:
  mrcong-api:
    build: .
    container_name: mrcong-api
    ports:
      - 3000:3000
      - 80:80
    environment:
      - FE=${FE}
      - BE=${BE}
      - HOST=${HOST}
    networks:
      - mrcong-network
    
networks:
  mrcong-network: