name: MrCong Actions
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FE: ${{secrets.FE}}
      BE: ${{secrets.BE}}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run testcase
        run: npm run test
