name: MrCong Actions
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FE: ${{secrets.FE}}
      BE: ${{secrets.BE}}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run testcases
        run: npm run test:cov

      - uses: codecov/codecov-action@v3
        with:
          files: ../../coverage/clover.xml # optional
          flags: unittests # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
